.radio,
.radio * {
  vertical-align: middle;
}
.radio .radioBox {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  width: 16px;
  height: 16px;
}
.radio .radioBox input[type=radio] {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
  cursor: pointer;
  z-index: 2;
}
.radio .radioBox input[type=radio] + label {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  line-height: 16px;
  vertical-align: top;
}
.radio .radioBox input[type=radio] + label:after {
  content: '\e614';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #5e5e5e;
}
.radio .radioBox input[type=radio]:checked + label:after {
  content: '\e613';
  color: #f4cf5c;
}
.radio .radioBox + span,
.radio .radioBox + div {
  display: inline-block;
  font-size: 14px;
  color: #5e5e5e;
  cursor: pointer;
}
.radio_check_list {
  font-size: 0;
}
.radio_check_list .radioWrap .radio,
.radio_check_list .checkWrap .radio,
.radio_check_list .radioWrap .check,
.radio_check_list .checkWrap .check {
  margin-right: 30px;
  display: inline-block;
  line-height: 34px;
}
.radio_check_list.check_list .radioWrap {
  display: table-cell;
  white-space: nowrap;
}
.radio_check_list.check_list .checkWrap {
  display: table-cell;
}
.radio_check_list.check_list .checkWrap .check {
  margin-right: 30px;
}